body {
  background-color: lightPink;
  text-align: center;
}

img {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

h3 {
  background-color: red;
  font-size: 60px;
  font-family: sans-serif;
}
