body {
  background-color: lightPink;
  text-align: center;
}

img {
  text-align: center;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
}

h3 {
  background-color: lightBlue;
  font-size: 125%;
  font-family: sans-serif;
}
